.link {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.link:hover {
    color: rgb(105, 214, 255);
}

.active {
    color: rgb(105, 214, 255);
    cursor: default;
}